.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

body {
  background-color: #78d8e3;
  text-align: center;
}

.btn {
  background-color: #e38578;
  color: white;
}
